<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="InternalPath" value="\Downloads\ExceptionFolders" />
    <add key="DestinationFolderPath" value="C:\Users\gudisek\Downloads\ExceptionParserData" />
    <add key="DefaultServer" value="C:\Users\gudisek" />
  </appSettings>
</configuration>